<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/home.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div>
    
        <div class="home-container">
          <div class="home-container1">
            <div class="home-container2">
              <img
                alt="image"
                src="/static/images/First screen png.png"
                class="home-image"
              />
              <span class="home-text">E-Curricular</span>
              <img
                alt="image"
                src="/static/images/pec logo.png"
                class="home-image1"
              />
              <div class="home-container3">
                <div class="home-container4">
                  <input
                    type="text"
                    required
                    placeholder="Password"
                    class="home-textinput input"
                  />
                  <input
                    type="text"
                    required
                    placeholder="Email-ID"
                    class="home-textinput1 input"
                  />
                </div>
                <span class="home-text1">Email-ID*</span>
                <span class="home-text2">Password*</span>
              </div>
              <span class="home-text3">Login into your account</span>
              <button class="home-button button">Sign in with Google
              </button>
              <button class="home-button1 button">Lessgoooo!</button>
              <img
                alt="image"
                src="/static/images/Google Icon.webp"
                class="home-image2"
              />
            </div>
          </div>
        </div>
      </div>
</body>
</html>

