p.pink-box-label {
  color: white;
}
.custom-navbar {
  background-color: #4b2e70;
}
.nav-text {
  color: white;
}

.pink-box {
  background-color: #f5e2f8;
  color: #4a2e6f;
}

.pink-box-label {
  color: white !important;
}
.form-check-label {
  font-weight: normal;
}
.pink-button {
  background-color: #4a2e6f;
  border: none;
}
label {
  color: #4a2e6f !important;
  font-weight: bold;
}
