<!DOCTYPE html>
<html lang="en">

<head>
  <title>Oops</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% load static %}
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <link href="/static/css/home.css?version=1" rel="stylesheet" />
</head>

<body>
    <h4>Error</h4>
    <div class="row">
        <img alt="image" src="/static/images/Confused girl.png" class="img-fluid" style="width: 500px" />
    </div>
</body>
</html>